In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('employ.csv')
print(df,"\n")

print(df[df['Gender']=="male"])

   No    Name  Age  Gender      state  salary
0   1  sakshi   19  female      surat   50000
1   2  aniket   18    male     jaipur   60000
2   3    isha   23  female       vapi   23000
3   4    meet   45    male      patan   34000
4   5   mahek   22  female  amhadabad   12000
5   6  yashvi   20  female      surat   23000
6   7    neha   56  female     rajkot    7000
7   9     raj   78    male     amreli   12000
8  10   nihar   23    male     valsad   20000

   No    Name  Age Gender   state  salary
1   2  aniket   18   male  jaipur   60000
3   4    meet   45   male   patan   34000
7   9     raj   78   male  amreli   12000
8  10   nihar   23   male  valsad   20000