Merging

In [25]:
import pandas as pd
import numpy as np

In [26]:

frame1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'],'price': [12.33,11.44,33.21,13.23,33.62],'brand': ['OMG','ABC','ABC','POD','POD']})
frame1

        id  price brand
0     ball  12.33   OMG
1   pencil  11.44   ABC
2      pen  33.21   ABC
3      mug  13.23   POD
4  ashtray  33.62   POD

In [17]:
frame2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'],'color': ['white','red','red','black'],'brand': ['OMG','POD','ABC','POD']})
frame2

       id  color brand
0  pencil  white   OMG
1  pencil    red   POD
2    ball    red   ABC
3     pen  black   POD

In [18]:
pd.merge(frame1,frame2,on='id')

       id  price brand_x  color brand_y
0    ball  12.33     OMG    red     ABC
1  pencil  11.44     ABC  white     OMG
2  pencil  11.44     ABC    red     POD
3     pen  33.21     ABC  black     POD

In [19]:
pd.merge(frame1,frame2,on='brand')

      id_x  price brand    id_y  color
0     ball  12.33   OMG  pencil  white
1   pencil  11.44   ABC    ball    red
2      pen  33.21   ABC    ball    red
3      mug  13.23   POD  pencil    red
4      mug  13.23   POD     pen  black
5  ashtray  33.62   POD  pencil    red
6  ashtray  33.62   POD     pen  black

In [20]:
pd.merge(frame1,frame2,on='id',how='outer')


# pd.merge(frame1,frame2,on='id',how='left')
# pd.merge(frame1,frame2,on='id',how='left')
# pd.merge(frame1,frame2,on=['id','brand'],how='outer')

        id  price brand_x  color brand_y
0     ball  12.33     OMG    red     ABC
1   pencil  11.44     ABC  white     OMG
2   pencil  11.44     ABC    red     POD
3      pen  33.21     ABC  black     POD
4      mug  13.23     POD    NaN     NaN
5  ashtray  33.62     POD    NaN     NaN

#Merging on Index

In [21]:
pd.merge(frame1,frame2,right_index=True, left_index=True)

     id_x  price brand_x    id_y  color brand_y
0    ball  12.33     OMG  pencil  white     OMG
1  pencil  11.44     ABC  pencil    red     POD
2     pen  33.21     ABC    ball    red     ABC
3     mug  13.23     POD     pen  black     POD

Concatenating

In [22]:
array1 = np.arange(9).reshape((3,3))
print(array1)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [23]:
array2 = np.arange(9).reshape((3,3))+6
array2

array([[ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [24]:
np.concatenate([array1,array2])
np.concatenate([array1,array2],axis=1)

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11],
       [ 6,  7,  8, 12, 13, 14]])