In [36]:
import pandas as pd
import numpy as np

<h1>Series</h1>

In [37]:
data = pd.Series([12.4, 34.5, 24.5, 24.35])
data

0    12.40
1    34.50
2    24.50
3    24.35
dtype: float64

In [38]:
data.values

array([12.4 , 34.5 , 24.5 , 24.35])

In [39]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [40]:
data = pd.Series([12.4, 34.5, 24.5, 24.35],index=['a','b','c','d'])
data

a    12.40
b    34.50
c    24.50
d    24.35
dtype: float64

In [41]:
data['c']
data['b':]

b    34.50
c    24.50
d    24.35
dtype: float64

In [42]:
population_dict = {'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

area = pd.Series(population_dict)
area

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [43]:
area['Texas']
area['Texas':'Illinois']

Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

In [44]:
pd.Series(10,index=[100,200,300])

100    10
200    10
300    10
dtype: int64

In [45]:
pd.Series({'a':100,'b':200,'c':300})

a    100
b    200
c    300
dtype: int64

<h1>DataFrame</h1>

In [46]:
area = {'India':457546,'China':53426,'America':357432,'canada':354741}
area

{'India': 457546, 'China': 53426, 'America': 357432, 'canada': 354741}

In [47]:
pd.Series(area)

India      457546
China       53426
America    357432
canada     354741
dtype: int64

In [48]:
population = {'India':5645342,'China':3534241,'Japan':353231,'canada':53221}

In [49]:

df = pd.DataFrame({'area':area,'population':population})
df

             area  population
India    457546.0   5645342.0
China     53426.0   3534241.0
America  357432.0         NaN
canada   354741.0     53221.0
Japan         NaN    353231.0

In [50]:
df.index

Index(['India', 'China', 'America', 'canada', 'Japan'], dtype='object')

In [51]:
df.columns

Index(['area', 'population'], dtype='object')

In [52]:
df['area']

India      457546.0
China       53426.0
America    357432.0
canada     354741.0
Japan           NaN
Name: area, dtype: float64

In [53]:

df['India':'America']

             area  population
India    457546.0   5645342.0
China     53426.0   3534241.0
America  357432.0         NaN

In [54]:
df[0:2]

           area  population
India  457546.0   5645342.0
China   53426.0   3534241.0

In [55]:
# convert the dict as the serices and after convert it dataframe
area_series = pd.Series(area)
area_series

India      457546
China       53426
America    357432
canada     354741
dtype: int64

In [56]:
pd.DataFrame(area_series ,columns=['area'])

           area
India    457546
China     53426
America  357432
canada   354741

In [57]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [58]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [59]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4},{'a':1,'b':2,'c':24}])

     a  b     c
0  1.0  2   NaN
1  NaN  3   4.0
2  1.0  2  24.0

In [60]:
# from 2-dim numpy array to data frame
pd.DataFrame(np.random.rand(3,3) , columns=["100","200","300"] , index=["A","B","C"])

        100       200       300
A  0.537154  0.137236  0.897738
B  0.942695  0.656179  0.107835
C  0.343239  0.080570  0.356199

In [61]:
A  = np.zeros((2,3))
A

array([[0., 0., 0.],
       [0., 0., 0.]])

In [62]:
pd.DataFrame(A,columns=["a","b","c"])

     a    b    c
0  0.0  0.0  0.0
1  0.0  0.0  0.0

<h1>The Pandas Index Object</h1>

In [67]:
indA = pd.Index([1, 3, 5, 7, 9])
indA

Index([1, 3, 5, 7, 9], dtype='int64')

In [68]:
indB = pd.Index([2, 3, 5, 7, 11])

In [74]:
u  =  indA & indB
u

Index([0, 3, 5, 7, 9], dtype='int64')

In [72]:
(indA | indB)

Index([3, 3, 5, 7, 11], dtype='int64')

In [3]:
pip install -U notebook-as-pdf

Requirement already satisfied: notebook-as-pdf in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: nbconvert in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from notebook-as-pdf) (7.13.1)
Requirement already satisfied: pyppeteer in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from notebook-as-pdf) (1.0.2)
Requirement already satisfied: PyPDF2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from notebook-as-pdf) (3.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (4.12.2)
Requirement already satisfied: bleach!=5.0.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (6.1.0)
Requirement already satisfied: defusedxml in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (0.8.0rc2)
Requirement already satisfied: jinja2>=3.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\admin\appdata\roaming\python\python312\site-packages (from nbconvert->notebook-as-pdf) (5.5.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (0.9.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (5.9.2)
Requirement already satisfied: packaging in c:\users\admin\appdata\roaming\python\python312\site-packages (from nbconvert->notebook-as-pdf) (23.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\admin\appdata\roaming\python\python312\site-packages (from nbconvert->notebook-as-pdf) (2.17.2)
Requirement already satisfied: tinycss2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbconvert->notebook-as-pdf) (1.2.1)
Requirement already satisfied: traitlets>=5.1 in c:\users\admin\appdata\roaming\python\python312\site-packages (from nbconvert->notebook-as-pdf) (5.14.0)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pyppeteer->notebook-as-pdf) (1.4.4)
Requirement already satisfied: certifi>=2021 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pyppeteer->notebook-as-pdf) (2023.11.17)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pyppeteer->notebook-as-pdf) (7.0.1)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pyppeteer->notebook-as-pdf) (8.2.2)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pyppeteer->notebook-as-pdf) (4.66.1)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pyppeteer->notebook-as-pdf) (1.26.18)
Requirement already satisfied: websockets<11.0,>=10.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pyppeteer->notebook-as-pdf) (10.4)
Requirement already satisfied: six>=1.9.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from bleach!=5.0.0->nbconvert->notebook-as-pdf) (1.16.0)
Requirement already satisfied: webencodings in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from bleach!=5.0.0->nbconvert->notebook-as-pdf) (0.5.1)
Requirement already satisfied: zipp>=0.5 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from importlib-metadata>=1.4->pyppeteer->notebook-as-pdf) (3.17.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from jupyter-core>=4.7->nbconvert->notebook-as-pdf) (4.1.0)
Requirement already satisfied: pywin32>=300 in c:\users\admin\appdata\roaming\python\python312\site-packages (from jupyter-core>=4.7->nbconvert->notebook-as-pdf) (306)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\admin\appdata\roaming\python\python312\site-packages (from nbclient>=0.5.0->nbconvert->notebook-as-pdf) (8.6.0)
Requirement already satisfied: fastjsonschema in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbformat>=5.7->nbconvert->notebook-as-pdf) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from nbformat>=5.7->nbconvert->notebook-as-pdf) (4.20.0)
Requirement already satisfied: colorama in c:\users\admin\appdata\roaming\python\python312\site-packages (from tqdm<5.0.0,>=4.42.1->pyppeteer->notebook-as-pdf) (0.4.6)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->nbconvert->notebook-as-pdf) (2.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->notebook-as-pdf) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->notebook-as-pdf) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->notebook-as-pdf) (0.32.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->notebook-as-pdf) (0.16.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (2.8.2)
Requirement already satisfied: pyzmq>=23.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (25.1.2)
Requirement already satisfied: tornado>=6.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (6.4)
Note: you may need to restart the kernel to use updated packages.